<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="menu-container">
        <h1>Bienvenido</h1>
        <a th:href="@{/ruleta(username=${usuario.username})}">
            <button type="button" class="menu-button">Juego Individual</button>
        </a>
        <a th:href="@{/multijugador}">
            <button type="button" class="menu-button">Juego Multijugador</button>
        </a>
        <a th:href="@{/MainPage}">
            <button type="button" class="menu-button">Cerrar Sesión</button>
        </a>
       
    </div>
</body>
</html>
