<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página en Desarrollo</title>
    
    <link rel="stylesheet" href="/css/multijugador.css">
</head>
<body>
    <div class="container">
        <h1>¡Página en Desarrollo!</h1>
        <p>Estamos trabajando en esta página para que esté lista pronto. Gracias por tu paciencia.</p>
        <a th:href="@{/home(username=${usuario.username})}">
            <button type="button" class="btn">Volver</button>
        </a>
    </div>
</body>
</html>
